:root 
{
    --font: 'Courier New', Courier, monospace;
}
.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    min-width: 600px;
    background: url("../img/paper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  }
.input-container input {
    margin-bottom: 10px;
    background: transparent;
    color: #000;
    border: none;
    box-shadow: none;
    font-family: var(--font);
    font-weight: 900;
    font-size: 18px;
}
.input-container input:focus{
    border: none;
    outline: none;
}
.date
{
    float: right;
}

body {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../img/wood.jpg");
    background-size: cover;
    background-position: center;
}
.generated-receipt
{
    width: 600px;
    background: url("../img/paper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;
}
.generated-receipt p{
    font-size: 16px;
}
.terminal
{
    text-align: left;
}
.receipt-header
{
    margin-top: 10px;
    font-weight: 900;
    font-size: 20px;
}
.receipt {
    width: 600px;
    background: url("../img/paper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}
.receipt p
{
    font-size: 16px;
}
.receipt-h1 h1 {
    font-size: 50px;
    font-weight: 900;
}
.receipt-description {
    text-align: center;
}

.add-item-btn{
  background: #202020;
  border: none;
  box-shadow: 0 3px 3px #0000002b;
  width: 150px;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  color: #fff;
  padding: 14px;
  transition: all ease 800ms;
  margin: 0 auto; /* Center the button horizontally */
  display: block; /* Ensure the button takes up full width */
}
.add-item-btn:hover{
    background: #3b3b3b;
    box-shadow: 0 3px 6px rgba(27, 27, 27, 0.685);
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    text-align: left;
    font-weight: 900;
    font-size: 20px;
}

.item-name {
    flex: 1;
}

.final-cost {
    text-align: right;
}
footer
{
    margin-top: auto;
}

footer a, footer p
{
    color: #fff;
}


@media only screen and (max-width: 600px) {
    .input-container {
      min-width: auto;
      width: 90%;
      margin: 10px;
    }
  
    .generated-receipt,
    .receipt {
      width: 90%;
    }
  
    .add-item-btn {
      width: 100%;
    }
  }
  